<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJ3YW5pa2Fu
		aS1zd2lmdCIsImxvY2F0aW9uIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2Fh
		cm9uc2t5XC93YW5pa2FuaS1zd2lmdCIsInByb2R1Y3RGaWx0ZXIiOm51bGws
		InJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4wLjEi
		LCJ1cHBlckJvdW5kIjoiMS4wLjAifV19fV19LHsic2NtIjpbeyJpZGVudGl0
		eSI6InN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIiwibG9jYXRpb24i
		OiJodHRwczpcL1wvZ2l0aHViLmNvbVwvcG9pbnRmcmVlY29cL3N3aWZ0LWNv
		bXBvc2FibGUtYXJjaGl0ZWN0dXJlIiwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjMyLjAi
		LCJ1cHBlckJvdW5kIjoiMS4wLjAifV19fV19XSwibmFtZSI6IldhbmlLYW5p
		QXBwIiwicGFja2FnZUtpbmQiOiJyb290IiwicGxhdGZvcm1zIjpbeyJvcHRp
		b25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1LjIi
		fV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiV2FuaUthbmlBcHAiLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20uc2t5LldhbmlLYW5pIl19
		LHsidGVhbUlkZW50aWZpZXIiOlsiNTJXMkg5OVFISCJdfSx7ImRpc3BsYXlW
		ZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlP
		U0FwcEluZm8iOlt7ImFjY2VudENvbG9yQXNzZXROYW1lIjoiQWNjZW50Q29s
		b3IiLCJjYXBhYmlsaXRpZXMiOltdLCJpY29uQXNzZXROYW1lIjoiQXBwSWNv
		biIsInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0s
		InN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQi
		Ont9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7
		fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmlj
		ZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9k
		dWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFw
		Ijp7IkFwcENvcmUiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiQXV0
		aGVudGljYXRpb24iLG51bGxdfSx7ImJ5TmFtZSI6WyJMb2dpbiIsbnVsbF19
		LHsiYnlOYW1lIjpbIkhvbWUiLG51bGxdfSx7ImJ5TmFtZSI6WyJTdWJqZWN0
		cyIsbnVsbF19LHsiYnlOYW1lIjpbIldhbmlLYW5pSGVscGVycyIsbnVsbF19
		LHsicHJvZHVjdCI6WyJDb21wb3NhYmxlQXJjaGl0ZWN0dXJlIiwic3dpZnQt
		Y29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLG51bGxdfSx7InByb2R1Y3QiOlsi
		V2FuaUthbmkiLCJ3YW5pa2FuaS1zd2lmdCIsbnVsbF19XSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJBcHBDb3JlIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		Olt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFt
		ZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVl
		IjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiQXBwTW9kdWxlIjp7
		ImRlcGVuZGVuY2llcyI6W3siYnlOYW1lIjpbIkFwcENvcmUiLG51bGxdfV0s
		ImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIs
		InBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJz
		d2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6ImV4ZWN1dGFibGUi
		fSwiQXV0aGVudGljYXRpb24iOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUi
		OlsiV2FuaUthbmlIZWxwZXJzIixudWxsXX0seyJwcm9kdWN0IjpbIkNvbXBv
		c2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVj
		dHVyZSIsbnVsbF19LHsicHJvZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5p
		LXN3aWZ0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkF1dGhlbnRp
		Y2F0aW9uIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlv
		biI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFt
		ZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19
		XSwidHlwZSI6InJlZ3VsYXIifSwiSG9tZSI6eyJkZXBlbmRlbmNpZXMiOlt7
		ImJ5TmFtZSI6WyJQcm9maWxlIixudWxsXX0seyJieU5hbWUiOlsiU3ViamVj
		dHMiLG51bGxdfSx7ImJ5TmFtZSI6WyJTd2lmdEhlbHBlcnMiLG51bGxdfSx7
		ImJ5TmFtZSI6WyJTd2lmdFVJSGVscGVycyIsbnVsbF19LHsiYnlOYW1lIjpb
		IldhbmlLYW5pSGVscGVycyIsbnVsbF19LHsicHJvZHVjdCI6WyJDb21wb3Nh
		YmxlQXJjaGl0ZWN0dXJlIiwic3dpZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1
		cmUiLG51bGxdfSx7InByb2R1Y3QiOlsiV2FuaUthbmkiLCJ3YW5pa2FuaS1z
		d2lmdCIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJIb21lIiwicmVz
		b3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWci
		OiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIs
		InRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJl
		Z3VsYXIifSwiTGVzc29ucyI6eyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRl
		IjpbXSwibmFtZSI6Ikxlc3NvbnMiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5n
		cyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1O
		YW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFs
		dWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LCJMb2dpbiI6eyJk
		ZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJBdXRoZW50aWNhdGlvbiIsbnVs
		bF19LHsiYnlOYW1lIjpbIkhvbWUiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29t
		cG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0
		ZWN0dXJlIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkxvZ2luIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25m
		aWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmlu
		ZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6
		InJlZ3VsYXIifSwiUHJvZmlsZSI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFt
		ZSI6WyJXYW5pS2FuaUhlbHBlcnMiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29t
		cG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0
		ZWN0dXJlIixudWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWth
		bmktc3dpZnQiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiUHJvZmls
		ZSIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsi
		Y29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJk
		ZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0sInR5
		cGUiOiJyZWd1bGFyIn0sIlJldmlld3MiOnsiZGVwZW5kZW5jaWVzIjpbXSwi
		ZXhjbHVkZSI6W10sIm5hbWUiOiJSZXZpZXdzIiwicmVzb3VyY2VzIjpbXSwi
		c2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBs
		YXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lm
		dCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiU3Vi
		amVjdHMiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiV2FuaUthbmlI
		ZWxwZXJzIixudWxsXX0seyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRl
		Y3R1cmUiLCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19
		LHsicHJvZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3aWZ0IixudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IlN1YmplY3RzIiwicmVzb3VyY2Vz
		IjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1
		ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wi
		OiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIi
		fSwiU3dpZnRIZWxwZXJzIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiU3dpZnRIZWxwZXJzIiwicmVzb3VyY2VzIjpbXSwic2V0
		dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRm
		b3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIs
		InZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiU3dpZnRV
		SUhlbHBlcnMiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJTd2lmdFVJSGVscGVycyIsInJlc291cmNlcyI6W10sInNldHRpbmdz
		IjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5h
		bWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1
		ZSI6WyJERUJVRyJdfV0sInR5cGUiOiJyZWd1bGFyIn0sIldhbmlLYW5pSGVs
		cGVycyI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQ29tcG9zYWJs
		ZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJl
		IixudWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dp
		ZnQiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiV2FuaUthbmlIZWxw
		ZXJzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6
		eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6
		ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwi
		dHlwZSI6InJlZ3VsYXIifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6
		W3siYnlOYW1lIjpbIkFwcENvcmUiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJu
		YW1lIjoiQXBwTW9kdWxlIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7
		ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMi
		OltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpb
		IkRFQlVHIl19XSwidHlwZSI6ImV4ZWN1dGFibGUifSx7ImRlcGVuZGVuY2ll
		cyI6W3siYnlOYW1lIjpbIkF1dGhlbnRpY2F0aW9uIixudWxsXX0seyJieU5h
		bWUiOlsiTG9naW4iLG51bGxdfSx7ImJ5TmFtZSI6WyJIb21lIixudWxsXX0s
		eyJieU5hbWUiOlsiU3ViamVjdHMiLG51bGxdfSx7ImJ5TmFtZSI6WyJXYW5p
		S2FuaUhlbHBlcnMiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFy
		Y2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixu
		dWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dpZnQi
		LG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwQ29yZSIsInJlc291
		cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoi
		ZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0
		b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0sInR5cGUiOiJyZWd1
		bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJXYW5pS2FuaUhl
		bHBlcnMiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFyY2hpdGVj
		dHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixudWxsXX0s
		eyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dpZnQiLG51bGxd
		fV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXV0aGVudGljYXRpb24iLCJyZXNv
		dXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6
		ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwi
		dG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVn
		dWxhciJ9LHsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiUHJvZmlsZSIs
		bnVsbF19LHsiYnlOYW1lIjpbIlN1YmplY3RzIixudWxsXX0seyJieU5hbWUi
		OlsiU3dpZnRIZWxwZXJzIixudWxsXX0seyJieU5hbWUiOlsiU3dpZnRVSUhl
		bHBlcnMiLG51bGxdfSx7ImJ5TmFtZSI6WyJXYW5pS2FuaUhlbHBlcnMiLG51
		bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3
		aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixudWxsXX0seyJwcm9kdWN0
		IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dpZnQiLG51bGxdfV0sImV4Y2x1
		ZGUiOltdLCJuYW1lIjoiSG9tZSIsInJlc291cmNlcyI6W10sInNldHRpbmdz
		IjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5h
		bWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1
		ZSI6WyJERUJVRyJdfV0sInR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNp
		ZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6Ikxlc3NvbnMiLCJyZXNvdXJj
		ZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRl
		YnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9v
		bCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxh
		ciJ9LHsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiQXV0aGVudGljYXRp
		b24iLG51bGxdfSx7ImJ5TmFtZSI6WyJIb21lIixudWxsXX0seyJwcm9kdWN0
		IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1jb21wb3NhYmxl
		LWFyY2hpdGVjdHVyZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJM
		b2dpbiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24i
		OnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUi
		OiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0s
		InR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6
		WyJXYW5pS2FuaUhlbHBlcnMiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9z
		YWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0
		dXJlIixudWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmkt
		c3dpZnQiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiUHJvZmlsZSIs
		InJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsiY29u
		ZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZp
		bmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0sInR5cGUi
		OiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwi
		bmFtZSI6IlJldmlld3MiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3si
		Y29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6
		W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsi
		REVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVwZW5kZW5jaWVzIjpb
		eyJieU5hbWUiOlsiV2FuaUthbmlIZWxwZXJzIixudWxsXX0seyJwcm9kdWN0
		IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1jb21wb3NhYmxl
		LWFyY2hpdGVjdHVyZSIsbnVsbF19LHsicHJvZHVjdCI6WyJXYW5pS2FuaSIs
		IndhbmlrYW5pLXN3aWZ0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6
		IlN1YmplY3RzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRp
		dGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwi
		bmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVH
		Il19XSwidHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVuY2llcyI6W10sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiU3dpZnRIZWxwZXJzIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIs
		InBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJz
		d2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSx7
		ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiU3dpZnRV
		SUhlbHBlcnMiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0
		aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJu
		YW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUci
		XX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVwZW5kZW5jaWVzIjpbeyJwcm9k
		dWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1jb21wb3Nh
		YmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19LHsicHJvZHVjdCI6WyJXYW5pS2Fu
		aSIsIndhbmlrYW5pLXN3aWZ0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IldhbmlLYW5pSGVscGVycyIsInJlc291cmNlcyI6W10sInNldHRpbmdz
		IjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5h
		bWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1
		ZSI6WyJERUJVRyJdfV0sInR5cGUiOiJyZWd1bGFyIn1dLCJ0b29sc1ZlcnNp
		b24iOnsiX3ZlcnNpb24iOiI1LjUuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		k7p5wSayglSmp4Pa3TVxR6euNwOykL8kIdJbsObCIXo=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
