<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJzd2lmdHNv
		dXAiLCJsb2NhdGlvbiI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9zY2luZnVc
		L1N3aWZ0U291cCIsInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMi4zLjYiLCJ1cHBlckJvdW5k
		IjoiMy4wLjAifV19fV19LHsic2NtIjpbeyJpZGVudGl0eSI6IndhbmlrYW5p
		LXN3aWZ0IiwibG9jYXRpb24iOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvYWFy
		b25za3lcL3dhbmlrYW5pLXN3aWZ0IiwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjAuMiIs
		InVwcGVyQm91bmQiOiIxLjAuMCJ9XX19XX0seyJzY20iOlt7ImlkZW50aXR5
		Ijoic3dpZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLCJsb2NhdGlvbiI6
		Imh0dHBzOlwvXC9naXRodWIuY29tXC9wb2ludGZyZWVjb1wvc3dpZnQtY29t
		cG9zYWJsZS1hcmNoaXRlY3R1cmUiLCJwcm9kdWN0RmlsdGVyIjpudWxsLCJy
		ZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMzIuMCIs
		InVwcGVyQm91bmQiOiIxLjAuMCJ9XX19XX1dLCJuYW1lIjoiV2FuaUthbmlB
		cHAiLCJwYWNrYWdlS2luZCI6InJvb3QiLCJwbGF0Zm9ybXMiOlt7Im9wdGlv
		bnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9
		XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJXYW5pS2FuaUFwcCIsInNldHRpbmdz
		IjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5za3kuV2FuaUthbmkiXX0s
		eyJ0ZWFtSWRlbnRpZmllciI6WyI1MlcySDk5UUhIIl19LHsiZGlzcGxheVZl
		cnNpb24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9T
		QXBwSW5mbyI6W3siYWNjZW50Q29sb3JBc3NldE5hbWUiOiJBY2NlbnRDb2xv
		ciIsImNhcGFiaWxpdGllcyI6W10sImljb25Bc3NldE5hbWUiOiJBcHBJY29u
		Iiwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwi
		c3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6
		e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9
		fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNl
		RmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1
		bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAi
		OnsiQXBwQ29yZSI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJBdXRo
		ZW50aWNhdGlvbkNsaWVudCIsbnVsbF19LHsiYnlOYW1lIjpbIkhvbWUiLG51
		bGxdfSx7ImJ5TmFtZSI6WyJMb2dpbiIsbnVsbF19LHsiYnlOYW1lIjpbIlN1
		YmplY3RDbGllbnQiLG51bGxdfSx7ImJ5TmFtZSI6WyJXYW5pS2FuaUNvbXBv
		c2FibGVDbGllbnQiLG51bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFy
		Y2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcENvcmUiLCJyZXNvdXJj
		ZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRl
		YnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9v
		bCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxh
		ciJ9LCJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsi
		QXBwQ29yZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1
		bGUiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7
		ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoi
		ZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0
		eXBlIjoiZXhlY3V0YWJsZSJ9LCJBdXRoZW50aWNhdGlvbkNsaWVudCI6eyJk
		ZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJIVE1MIixudWxsXX0seyJwcm9k
		dWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1jb21wb3Nh
		YmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19LHsicHJvZHVjdCI6WyJXYW5pS2Fu
		aSIsIndhbmlrYW5pLXN3aWZ0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkF1dGhlbnRpY2F0aW9uQ2xpZW50IiwicmVzb3VyY2VzIjpbXSwic2V0
		dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRm
		b3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIs
		InZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiSG9tZSI6
		eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJQcm9maWxlIixudWxsXX0s
		eyJieU5hbWUiOlsiU3ViamVjdENsaWVudCIsbnVsbF19LHsiYnlOYW1lIjpb
		IlN1YmplY3RzIixudWxsXX0seyJieU5hbWUiOlsiU3dpZnRIZWxwZXJzIixu
		dWxsXX0seyJieU5hbWUiOlsiU3dpZnRVSUhlbHBlcnMiLG51bGxdfSx7ImJ5
		TmFtZSI6WyJXYW5pS2FuaUNvbXBvc2FibGVDbGllbnQiLG51bGxdfSx7ImJ5
		TmFtZSI6WyJXYW5pS2FuaUhlbHBlcnMiLG51bGxdfSx7InByb2R1Y3QiOlsi
		Q29tcG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJj
		aGl0ZWN0dXJlIixudWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2Fu
		aWthbmktc3dpZnQiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiSG9t
		ZSIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsi
		Y29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJk
		ZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0sInR5
		cGUiOiJyZWd1bGFyIn0sIkhUTUwiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9k
		dWN0IjpbIlN3aWZ0U291cCIsInN3aWZ0c291cCIsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJIVE1MIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		Olt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFt
		ZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVl
		IjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiTGVzc29ucyI6eyJk
		ZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6Ikxlc3NvbnMi
		LCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNv
		bmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVm
		aW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBl
		IjoicmVndWxhciJ9LCJMb2dpbiI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFt
		ZSI6WyJBdXRoZW50aWNhdGlvbkNsaWVudCIsbnVsbF19LHsiYnlOYW1lIjpb
		IkhvbWUiLG51bGxdfSx7ImJ5TmFtZSI6WyJTd2lmdFVJSGVscGVycyIsbnVs
		bF19LHsiYnlOYW1lIjpbIldhbmlLYW5pQ29tcG9zYWJsZUNsaWVudCIsbnVs
		bF19LHsicHJvZHVjdCI6WyJDb21wb3NhYmxlQXJjaGl0ZWN0dXJlIiwic3dp
		ZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLG51bGxdfV0sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiTG9naW4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6
		W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1l
		cyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUi
		OlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LCJQcm9maWxlIjp7ImRl
		cGVuZGVuY2llcyI6W3siYnlOYW1lIjpbIldhbmlLYW5pQ29tcG9zYWJsZUNs
		aWVudCIsbnVsbF19LHsiYnlOYW1lIjpbIldhbmlLYW5pSGVscGVycyIsbnVs
		bF19LHsicHJvZHVjdCI6WyJDb21wb3NhYmxlQXJjaGl0ZWN0dXJlIiwic3dp
		ZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLG51bGxdfSx7InByb2R1Y3Qi
		OlsiV2FuaUthbmkiLCJ3YW5pa2FuaS1zd2lmdCIsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJQcm9maWxlIiwicmVzb3VyY2VzIjpbXSwic2V0dGlu
		Z3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3Jt
		TmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZh
		bHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiUmV2aWV3cyI6
		eyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6IlJldmll
		d3MiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7
		ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoi
		ZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0
		eXBlIjoicmVndWxhciJ9LCJTdWJqZWN0Q2xpZW50Ijp7ImRlcGVuZGVuY2ll
		cyI6W3siYnlOYW1lIjpbIldhbmlLYW5pQ29tcG9zYWJsZUNsaWVudCIsbnVs
		bF19LHsicHJvZHVjdCI6WyJDb21wb3NhYmxlQXJjaGl0ZWN0dXJlIiwic3dp
		ZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLG51bGxdfSx7InByb2R1Y3Qi
		OlsiV2FuaUthbmkiLCJ3YW5pa2FuaS1zd2lmdCIsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJTdWJqZWN0Q2xpZW50IiwicmVzb3VyY2VzIjpbXSwi
		c2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBs
		YXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lm
		dCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiU3Vi
		amVjdHMiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiV2FuaUthbmlI
		ZWxwZXJzIixudWxsXX0seyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRl
		Y3R1cmUiLCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19
		LHsicHJvZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3aWZ0IixudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IlN1YmplY3RzIiwicmVzb3VyY2Vz
		IjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1
		ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wi
		OiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIi
		fSwiU3dpZnRIZWxwZXJzIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiU3dpZnRIZWxwZXJzIiwicmVzb3VyY2VzIjpbXSwic2V0
		dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRm
		b3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIs
		InZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSwiU3dpZnRI
		ZWxwZXJzVGVzdHMiOnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiU3dp
		ZnRIZWxwZXJzIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IlN3aWZ0
		SGVscGVyc1Rlc3RzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNv
		bmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltd
		fSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRF
		QlVHIl19XSwidHlwZSI6InRlc3QifSwiU3dpZnRVSUhlbHBlcnMiOnsiZGVw
		ZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJTd2lmdFVJSGVs
		cGVycyIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24i
		OnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUi
		OiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0s
		InR5cGUiOiJyZWd1bGFyIn0sIldhbmlLYW5pQ29tcG9zYWJsZUNsaWVudCI6
		eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFyY2hp
		dGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixudWxs
		XX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dpZnQiLG51
		bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiV2FuaUthbmlDb21wb3NhYmxl
		Q2xpZW50IiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlv
		biI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFt
		ZSI6ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19
		XSwidHlwZSI6InJlZ3VsYXIifSwiV2FuaUthbmlIZWxwZXJzIjp7ImRlcGVu
		ZGVuY2llcyI6W3sicHJvZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3
		aWZ0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IldhbmlLYW5pSGVs
		cGVycyIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24i
		OnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUi
		OiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0s
		InR5cGUiOiJyZWd1bGFyIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMi
		Olt7ImJ5TmFtZSI6WyJBcHBDb3JlIixudWxsXX1dLCJleGNsdWRlIjpbXSwi
		bmFtZSI6IkFwcE1vZHVsZSIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpb
		eyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVz
		IjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6
		WyJERUJVRyJdfV0sInR5cGUiOiJleGVjdXRhYmxlIn0seyJkZXBlbmRlbmNp
		ZXMiOlt7ImJ5TmFtZSI6WyJBdXRoZW50aWNhdGlvbkNsaWVudCIsbnVsbF19
		LHsiYnlOYW1lIjpbIkhvbWUiLG51bGxdfSx7ImJ5TmFtZSI6WyJMb2dpbiIs
		bnVsbF19LHsiYnlOYW1lIjpbIlN1YmplY3RDbGllbnQiLG51bGxdfSx7ImJ5
		TmFtZSI6WyJXYW5pS2FuaUNvbXBvc2FibGVDbGllbnQiLG51bGxdfSx7InBy
		b2R1Y3QiOlsiQ29tcG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBv
		c2FibGUtYXJjaGl0ZWN0dXJlIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkFwcENvcmUiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3siY29u
		ZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZvcm1OYW1lcyI6W119
		LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0IiwidmFsdWUiOlsiREVC
		VUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVwZW5kZW5jaWVzIjpbeyJi
		eU5hbWUiOlsiSFRNTCIsbnVsbF19LHsicHJvZHVjdCI6WyJDb21wb3NhYmxl
		QXJjaGl0ZWN0dXJlIiwic3dpZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUi
		LG51bGxdfSx7InByb2R1Y3QiOlsiV2FuaUthbmkiLCJ3YW5pa2FuaS1zd2lm
		dCIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBdXRoZW50aWNhdGlv
		bkNsaWVudCIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRp
		b24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5h
		bWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJd
		fV0sInR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFt
		ZSI6WyJQcm9maWxlIixudWxsXX0seyJieU5hbWUiOlsiU3ViamVjdENsaWVu
		dCIsbnVsbF19LHsiYnlOYW1lIjpbIlN1YmplY3RzIixudWxsXX0seyJieU5h
		bWUiOlsiU3dpZnRIZWxwZXJzIixudWxsXX0seyJieU5hbWUiOlsiU3dpZnRV
		SUhlbHBlcnMiLG51bGxdfSx7ImJ5TmFtZSI6WyJXYW5pS2FuaUNvbXBvc2Fi
		bGVDbGllbnQiLG51bGxdfSx7ImJ5TmFtZSI6WyJXYW5pS2FuaUhlbHBlcnMi
		LG51bGxdfSx7InByb2R1Y3QiOlsiQ29tcG9zYWJsZUFyY2hpdGVjdHVyZSIs
		InN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0ZWN0dXJlIixudWxsXX0seyJwcm9k
		dWN0IjpbIldhbmlLYW5pIiwid2FuaWthbmktc3dpZnQiLG51bGxdfV0sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiSG9tZSIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbeyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9y
		bU5hbWVzIjpbXX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2
		YWx1ZSI6WyJERUJVRyJdfV0sInR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRl
		bmNpZXMiOlt7InByb2R1Y3QiOlsiU3dpZnRTb3VwIiwic3dpZnRzb3VwIixu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkhUTUwiLCJyZXNvdXJjZXMi
		OltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVn
		IiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6
		InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9
		LHsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJMZXNz
		b25zIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6
		eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6
		ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwi
		dHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVuY2llcyI6W3siYnlOYW1lIjpb
		IkF1dGhlbnRpY2F0aW9uQ2xpZW50IixudWxsXX0seyJieU5hbWUiOlsiSG9t
		ZSIsbnVsbF19LHsiYnlOYW1lIjpbIlN3aWZ0VUlIZWxwZXJzIixudWxsXX0s
		eyJieU5hbWUiOlsiV2FuaUthbmlDb21wb3NhYmxlQ2xpZW50IixudWxsXX0s
		eyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUiLCJzd2lmdC1j
		b21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJMb2dpbiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJj
		b25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpb
		XX0sIm5hbWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJE
		RUJVRyJdfV0sInR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7
		ImJ5TmFtZSI6WyJXYW5pS2FuaUNvbXBvc2FibGVDbGllbnQiLG51bGxdfSx7
		ImJ5TmFtZSI6WyJXYW5pS2FuaUhlbHBlcnMiLG51bGxdfSx7InByb2R1Y3Qi
		OlsiQ29tcG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUt
		YXJjaGl0ZWN0dXJlIixudWxsXX0seyJwcm9kdWN0IjpbIldhbmlLYW5pIiwi
		d2FuaWthbmktc3dpZnQiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		UHJvZmlsZSIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRp
		b24iOnsiY29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5h
		bWUiOiJkZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJd
		fV0sInR5cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOltdLCJleGNs
		dWRlIjpbXSwibmFtZSI6IlJldmlld3MiLCJyZXNvdXJjZXMiOltdLCJzZXR0
		aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxhdGZv
		cm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0Iiwi
		dmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVwZW5k
		ZW5jaWVzIjpbeyJieU5hbWUiOlsiV2FuaUthbmlDb21wb3NhYmxlQ2xpZW50
		IixudWxsXX0seyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUi
		LCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19LHsicHJv
		ZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3aWZ0IixudWxsXX1dLCJl
		eGNsdWRlIjpbXSwibmFtZSI6IlN1YmplY3RDbGllbnQiLCJyZXNvdXJjZXMi
		OltdLCJzZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVn
		IiwicGxhdGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6
		InN3aWZ0IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9
		LHsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiV2FuaUthbmlIZWxwZXJz
		IixudWxsXX0seyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1cmUi
		LCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19LHsicHJv
		ZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3aWZ0IixudWxsXX1dLCJl
		eGNsdWRlIjpbXSwibmFtZSI6IlN1YmplY3RzIiwicmVzb3VyY2VzIjpbXSwi
		c2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1ZyIsInBs
		YXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIsInRvb2wiOiJzd2lm
		dCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InJlZ3VsYXIifSx7ImRl
		cGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiU3dpZnRIZWxw
		ZXJzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6
		eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6
		ImRlZmluZSIsInRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwi
		dHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiU3dpZnRVSUhlbHBlcnMiLCJyZXNvdXJjZXMiOltdLCJz
		ZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxh
		dGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0
		IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVw
		ZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkNvbXBvc2FibGVBcmNoaXRlY3R1
		cmUiLCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbF19LHsi
		cHJvZHVjdCI6WyJXYW5pS2FuaSIsIndhbmlrYW5pLXN3aWZ0IixudWxsXX1d
		LCJleGNsdWRlIjpbXSwibmFtZSI6IldhbmlLYW5pQ29tcG9zYWJsZUNsaWVu
		dCIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJjb25kaXRpb24iOnsi
		Y29uZmlnIjoiZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sIm5hbWUiOiJk
		ZWZpbmUiLCJ0b29sIjoic3dpZnQiLCJ2YWx1ZSI6WyJERUJVRyJdfV0sInR5
		cGUiOiJyZWd1bGFyIn0seyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsi
		V2FuaUthbmkiLCJ3YW5pa2FuaS1zd2lmdCIsbnVsbF19XSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJXYW5pS2FuaUhlbHBlcnMiLCJyZXNvdXJjZXMiOltdLCJz
		ZXR0aW5ncyI6W3siY29uZGl0aW9uIjp7ImNvbmZpZyI6ImRlYnVnIiwicGxh
		dGZvcm1OYW1lcyI6W119LCJuYW1lIjoiZGVmaW5lIiwidG9vbCI6InN3aWZ0
		IiwidmFsdWUiOlsiREVCVUciXX1dLCJ0eXBlIjoicmVndWxhciJ9LHsiZGVw
		ZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiU3dpZnRIZWxwZXJzIixudWxsXX1d
		LCJleGNsdWRlIjpbXSwibmFtZSI6IlN3aWZ0SGVscGVyc1Rlc3RzIiwicmVz
		b3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImNvbmRpdGlvbiI6eyJjb25maWci
		OiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwibmFtZSI6ImRlZmluZSIs
		InRvb2wiOiJzd2lmdCIsInZhbHVlIjpbIkRFQlVHIl19XSwidHlwZSI6InRl
		c3QifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		iZIOT/Xn3Ykevb6doDozz4gZv8ENk5uhZ9MSXGcBDuo=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
